@import 'normalize'
@import 'colors'
@import 'fonts'

body
	font-family 'Lato'
	font-size 16px
	background-color hl_white

// -- COMMONS ------------------------------------------------------------------
.center
	display block !important
	width 50%
	@media screen and (min-width 990px)
		display inline-block !important
		width 195px

.italic
	font-style italic

.btn
	border 1px solid hl_white
	width 50%
	border-radius 5px
	color hl_white
	text-decoration none
	display inline-block
	text-align center
	padding .75em 4em
	transition .5s background-color
	transition .5s color
	margin 0 auto
	&:hover
		color hl_white
		background-color hl_red

	@media screen and (min-width 990px)
		padding .75em 5.4em
		width 260px

.btn-black
	border 0
	background hl_black
	padding .75em 3em

.btn-alpha
	//border 1px hl_white solid
	background none
	color hl_white
	padding .75em 3em
	&:hover
		color hl_black
		background-color hl_white

.btn-red
	border 0
	background hl_white
	color hl_red
	padding .75em 3em

.text-red
	color hl_red
.text-white
	color hl_white
.text-black
	color hl_black

.col3
	@media screen and (min-width 720px)
		display inline-block
		margin 0 auto
		vertical-align top
		width 30%

.row
	width 100%

.row-header
	background linear-gradient(150deg, rgba(191, 44, 21, 0.7) 30%, rgba(219, 60, 48, 0.6) 70%), url('../img/bg_header.jpg')
	background-position center top
	background-size cover

.row-contact
	background linear-gradient(150deg, rgba(69, 69, 69, 0.3) 30%, rgba(153, 153, 153, 0.3) 70%), url('../img/bg_footer.jpg')
	background-size cover

// -- HEADER -------------------------------------------------------------------
.Header
	text-align center
	height auto
	margin 0 auto
	padding .5em 3em
	color hl_white
	@media screen and (min-width 990px)
		text-align left
		height 340px
		width 720px

.Header-title
	display none

.Header-logo
	margin .5em 0 0 0
	padding 0
	width 220px
	display inline-block
	img
		width 100%

.Header-nav
	ul
		display none
		margin 0
		padding 0
		list-style-type none
		float right

		@media screen and (min-width 720px)
			display inline-block

		li
			display inline-block
			margin 1em
			a
				margin 0 0 1em 0
				padding 0 0 1em 0
				color hl_white
				text-decoration none
				text-transform uppercase
				&:hover
					border-bottom 2px solid hl_white

.Header-copy
	padding 2em 0
	text-align center

	@media screen and (min-width 990px)
		text-align justify
		width 50%
		padding 2em 0 1em 0

.Header-figure-laptop
	display none
	@media screen and (min-width 990px)
		display inline-block
		position relative
		left 50%
		bottom 14.4em
		width 70%
		img
			width 100%

// -- CONTACT ------------------------------------------------------------------
.Contact
	text-align center
	margin 0 auto
	color hl_white
	padding 2em 4em
	h2
		color hl_white

.Contact-copy
	text-align center

.Hackathones
	margin 0 auto
	padding 3em 0
	background #eaeaea
	text-align center

// -- TEAM ---------------------------------------------------------------------
.Team
	margin 0 auto
	padding 3em 0
	background #fff
	text-align center

.Team-figure
	display inline-block
	width 200px
	img
		border-radius 50%
		width 100%

.Team-twitter, .Team-name
	display inline-block

.Team-name
	font-weight bold
	font-size 1.2em

.Team-twitter
	color hl_red
	text-decoration none
	font-size 1.2em
	&:hover
		font-weight bold

.Team-role
	color hl_black
	font-size 0.8em

// -- SUCCESS CASES ------------------------------------------------------------
.SuccessCases
	margin 0 auto
	padding 3em 0
	background #eaeaea
	text-align center
	a
		color hl_red
		&:hover
			text-decoration underline

	.Team-figure
		width 100px !important
		display inline-block

.SuccessCases-description
	display inline-block
	vertical-align top
	margin 2em 0 0 0
	@media screen and (min-width 720px)
		text-align left

// -- FOOTER -------------------------------------------------------------------
.Footer
	text-align center
	margin 0 auto
	height 60px
	line-height 60px

	@media screen and (min-width 720px)
		.col3
			display inline-block
			width 30%

.Footer-social
	margin 1em 0 0 0
	padding 2em 4em
	vertical-align top

	ul
		list-style-type none
		margin 0
		padding 0
		li
			margin 1em 0
			text-align center
			@media screen and (min-width 720px)
				text-align left
			a
				color hl_white
				text-decoration none
				padding 1em 1.5em
				transition .5s color
				span
					margin 0 .5em
				&:hover
					color hl_red
