@import 'colors'
@import url('//fonts.googleapis.com/css?family=Open+Sans')

body
	font-family 'Open Sans'
	font-size 14px
	background-color #eaeaea

.Container
	margin 0 auto
	width 1024px
	background-color #fff

.Header
	background url('../img/bg_header.jpg') no-repeat
	background-size: 1024px 498px
	height 498px
	padding 2em 4em 0 4em
	color hl_white

	
.Header-logo
	display inline-block
	width 300px
	text-indent -9999px
	background url('../img/logo.png') no-repeat
	margin 0
	padding 0

.Header-nav
	ul 
		margin 0 
		padding 0 
		display inline-block
		list-style-type none
		float right
		
		li 
			display inline-block
			margin 1em
			a 
				margin 0 0 1em 0
				padding 0 0 1em 0
				color hl_white
				text-decoration none
				text-transform uppercase
				&:hover
					border-bottom 2px solid hl_white

.Header-copy
	width 50%
	padding 2em 0

.Contact
	background url('../img/bg_footer.jpg') no-repeat 	
	background-size 1024px 432px
	height 432px
	color hl_white
	padding 2em 4em 0 4em
	h2
		text-align center 
		color hl_black

.Contact-copy
	width 50%
	padding 2em 0

.Team
	background #fff
	text-align center

.Team-figure
	display inline-block
	img
		width 220px

.Team-twitter, .Team-name
	display inline-block

.Footer 
	height 50px
	line-height 50px

.Footer-copy
	float right

.btn
	border 1px solid hl_white
	border-radius 5px
	color hl_white
	text-decoration none
	display inline-block
	text-align center
	padding .75em 10em
	&:hover
		color hl_red
		background-color hl_white

.btn-black
	border 0
	background hl_black
	padding .75em 8em

.text-red
	color hl_red
.text-white
	color hl_white


