@import 'normalize'
@import 'colors'
@import 'fonts'

body
	font-family 'Lato'
	font-size 16px
	background-color hl_white

.row
	width 100%

.row-header
	background url('../img/bg_header.jpg') no-repeat
	background-size cover

.row-contact
	background url('../img/bg_footer.jpg') no-repeat
	background-size cover

.Header
	text-align center
	height auto
	margin 0 auto
	padding 2em 3em
	color hl_white
	@media screen and (min-width 720px)
		text-align left
		height 400px
		width 720px


.Header-logo
	display inline-block
	width 300px
	text-indent -9999px
	background url('../img/logo.png') no-repeat
	margin 0 0 1em 1em
	position absolute
	left 0
	@media screen and (min-width 720px)
		position relative
		margin 0


.Header-nav
	ul
		display none
		margin 0
		padding 0
		list-style-type none
		float right

		@media screen and (min-width 720px)
			display inline-block

		li
			display inline-block
			margin 1em
			a
				margin 0 0 1em 0
				padding 0 0 1em 0
				color hl_white
				text-decoration none
				text-transform uppercase
				&:hover
					border-bottom 2px solid hl_white

.Header-copy
	padding 2em 0
	text-align justify

	@media screen and (min-width 720px)
		width 50%
		padding 2em 0 1em 0

.Header-figure-laptop
	display none
	@media screen and (min-width 720px)
		display inline-block
		position relative
		left 50%
		bottom 14.4em
		width 70%
		img
			width 100%


.Contact
	text-align center
	margin 0 auto
	color hl_white
	padding 2em 4em
	h2
		text-align center
		color hl_white
	@media screen and (min-width 720px)
		text-align center
		width 720px

.Contact-copy
	//tpadding 2em 0
	@media screen and (min-width 720px)
		text-align center

.Hackathones
	margin 0 auto
	padding 3em 0
	background #eaeaea
	text-align center

.SuccessCases
	margin 0 auto
	padding 3em 0
	background #eaeaea
	text-align center

.Team
	margin 0 auto
	padding 3em 0
	background #fff
	text-align center

.Team-figure
	display inline-block
	img
		width 220px
		border-radius 50%

.Team-twitter, .Team-name
	display inline-block

.Team-name
	font-weight bold
	font-size 1.2em

.Team-twitter
	color hl_red
	text-decoration none
	font-size 1.2em
	&:hover
		font-weight bold

.Team-role
	color hl_black
	font-size 0.8em

.Footer
	text-align center
	margin 0 auto
	height 60px
	line-height 60px
	@media screen and (min-width 720px)
		text-align left
		width 720px

.Footer-copy
	margin 0 2em 0 0
	@media screen and (min-width 720px)
		float right

.Footer-social
	margin 0
	a
		color hl_red
		text-decoration none
		padding 1em 1.5em
		transition 1s color
		&:hover
			color hl_black
	@media screen and (min-width 720px)
		float left

.btn
	border 1px solid hl_white
	border-radius 5px
	color hl_white
	text-decoration none
	display inline-block
	text-align center
	padding .75em 4em
	transition 1s background-color
	transition 1s color
	margin 0 auto
	&:hover
		color hl_red
		background-color hl_white
	@media screen and (min-width 720px)
		padding .75em 5.4em


.btn-black
	border 0
	background hl_black
	padding .75em 3em

.text-red
	color hl_red
.text-white
	color hl_white
.text-black
	color hl_black
