@import url("//fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: 'Open Sans';
  font-size: 14px;
  background-color: #fff;
}
.row {
  width: 100%;
}
.row-header {
  background: url("../img/bg_header.jpg") no-repeat;
  background-size: cover;
}
.row-contact {
  background: url("../img/bg_footer.jpg") no-repeat;
  background-size: cover;
}
.Header {
  height: 498px;
  width: 1024px;
  margin: 0 auto;
  padding: 2em 4em 0 4em;
  color: #f3f3f3;
}
.Header-logo {
  display: inline-block;
  width: 300px;
  text-indent: -9999px;
  background: url("../img/logo.png") no-repeat;
  margin: 0;
  padding: 0;
}
.Header-nav ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style-type: none;
  float: right;
}
.Header-nav ul li {
  display: inline-block;
  margin: 1em;
}
.Header-nav ul li a {
  margin: 0 0 1em 0;
  padding: 0 0 1em 0;
  color: #f3f3f3;
  text-decoration: none;
  text-transform: uppercase;
}
.Header-nav ul li a:hover {
  border-bottom: 2px solid #f3f3f3;
}
.Header-copy {
  width: 50%;
  padding: 2em 0;
}
.Header-figure-laptop {
  position: relative;
  left: 524px;
  bottom: 5em;
  width: 500px;
}
.Header-figure-laptop img {
  width: 100%;
}
.Contact {
  margin: 0 auto;
  width: 1024px;
  height: 432px;
  color: #f3f3f3;
  padding: 2em 4em 0 4em;
}
.Contact h2 {
  text-align: center;
  color: #f3f3f3;
}
.Contact-copy {
  width: 50%;
  padding: 2em 0;
}
.Team {
  margin: 0 auto;
  background: #fff;
  text-align: center;
}
.Team-figure {
  display: inline-block;
}
.Team-figure img {
  width: 220px;
}
.Team-twitter,
.Team-name {
  display: inline-block;
}
.Team-name {
  font-weight: bold;
  font-size: 1.2em;
}
.Team-twitter {
  color: #f26152;
  text-decoration: none;
  font-size: 1.2em;
}
.Team-twitter:hover {
  font-weight: bold;
}
.Footer {
  margin: 0 auto;
  width: 1024px;
  height: 50px;
  line-height: 50px;
}
.Footer-copy {
  float: right;
  line-height: 2em;
  margin: 0 2em 0 0;
}
.Footer-social {
  float: left;
  margin: 0 0 0 3em;
}
.Footer-social a {
  color: #f26152;
  text-decoration: none;
  padding: 0 1em;
  transition: 1s color;
}
.Footer-social a:hover {
  color: #222;
}
.btn {
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  color: #f3f3f3;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 0.75em 10em;
  transition: 1s background-color;
  transition: 1s color;
}
.btn:hover {
  color: #f26152;
  background-color: #f3f3f3;
}
.btn-black {
  border: 0;
  background: #222;
  padding: 0.75em 8em;
}
.text-red {
  color: #f26152;
}
.text-white {
  color: #f3f3f3;
}
.text-black {
  color: #222;
}
